
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>New Article</title>
</head>
<body>
  <div class="container">
    <div class="d-flex p-2  justify-content-between bd-highlight">
      <div class="home">
        <%= link_to "Home", articles_path, class: "btn btn-light"%>
      </div>
      <div class="new">
        <%= link_to "New Article", new_article_path, class: "btn btn-light" %>
      </div>

    </div>

    <div class="wrap">
      <h1>New Article</h1>
      <%= render 'form', article: @article %>
      <p><%= link_to "Back", articles_path, class: "btn btn-link" %></p>

    </div>


  </div>

</body>
</html>

